.DS_Store
Earth-Core
/node_modules/
npm-debug.log
Dockerfile
.dockerignore
README.md
package-lock.json
package.json
postcss.config.js
tailwind.config.js
webpack.config.js
/src/node_modules/@sapper/
yarn-error.log
/cypress/screenshots/
/__sapper__/
.env
